@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-lg: 900px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --title-font: 15px;
  --subtitle-font: 12px;
}

:root {
  --radius: 8px;
  --content: #f3f6fe;

  /* common */
  --common-link: #2c67f3;
  --common-brand: #4461f2;
  --common-white: #ffffff;
  --common-seperator: #cac6d4;
  --common-inputborder: #d9d9d9;
  --common-backgroundopacity: #000000;
  --common-error: #f87171;
  /* common */

  /* accesscontrol */
  --accesscontrol-background: #ffffff;
  --accesscontrol-textprimary: #1e1e1e;
  --accesscontrol-textsecondary: #4d4d4d;
  --accesscontrol-textplaceholder: #b3b3b3;
  --accesscontrol-textaccent: #ffffff;
  --accesscontrol-buttonborder: #bababa;
  --accesscontrol-buttonbackground: #ffffff;
  --accesscontrol-inputbackground: #ffffff;
  --accesscontrol-iconbackground: #f7f7f7;
  /* accesscontrol */

  /* sidebar */
  --sidebar-background: #ffffff;
  --sidebar-border: rgba(243, 243, 243, 0.5);
  --sidebar-hover: #2f6cf21f;
  --sidebar-hoverborder: #2c67f3;
  --sidebar-hovertext: #285edd;
  --sidebar-text: #3f3f46;
  /* sidebar */

  /* content */
  --content-textprimary: #202020;
  --content-textsecondary: #3f3f46;
  --content-textplaceholder: #a0a0a0;
  --content-border: #dfdfdf;
  --content-background: #ffffff;
  /* content */

  /* table */
  --table-headerbackground: #f5f5f5;
  --table-headertext: #202020;
  --table-rowtext: #3f3f46;
  --table-rowbackground: #ffffff;
  --table-rowborder: #dfdfdf;
  --table-searchborder: #dfdfdf;
  /* table */

  /* radio */
  --radio-textprimary: #4f4f4f;
  /* radio */
}

.dark {
  --radius: 8px;
  --content: #2b2b2b;

  /* common */
  --common-link: #2c67f3;
  --common-brand: #4461f2;
  --common-white: #ffffff;
  --common-seperator: #cac6d4;
  --common-inputborder: #3e3e3e;
  --common-backgroundopacity: #000000;
  --common-error: #f87171;
  /* common */

  /* accesscontrol */
  --accesscontrol-background: #171717;
  --accesscontrol-textprimary: #ffffff;
  --accesscontrol-textsecondary: #ffffff;
  --accesscontrol-textplaceholder: #b3b3b3;
  --accesscontrol-textaccent: #ffffff;
  --accesscontrol-buttonborder: #bababa;
  --accesscontrol-buttonbackground: #171717;
  --accesscontrol-inputbackground: #212121;
  --accesscontrol-iconbackground: #212121;
  /* accesscontrol */

  /* sidebar */
  --sidebar-background: #1f1f21;
  --sidebar-border: rgba(243, 243, 243, 0.5);
  --sidebar-hover: #2f6cf21f;
  --sidebar-hoverborder: #2c67f3;
  --sidebar-hovertext: #ffffff;
  --sidebar-text: #ffffff;
  /* sidebar */

  /* content */
  --content-textprimary: #ffffff;
  --content-textsecondary: #ffffff;
  --content-textplaceholder: #a0a0a0;
  --content-border: #dfdfdf;
  --content-background: #1f1f21;
  /* content */

  /* table */
  --table-headerbackground: #3f3f46;
  --table-headertext: #ffffff;
  --table-rowtext: #ffffff;
  --table-rowbackground: #1f1f21;
  --table-rowborder: #4f4f4f;
  --table-searchborder: #3f3f46;
  /* table */

  /* radio */
  --radio-textprimary: #a0a0a0;
  /* radio */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

body {
  font-family: "PoppinsRegular";
  word-spacing: 2px;
}

.font-size-large {
  font-size: 38px;
}

.font-size-medium {
  font-size: 18px;
}

.font-size-small {
  font-size: 16px;
}

.font-size-extra-small {
  font-size: 13px;
}

.font-regular {
  font-family: "PoppinsRegular";
}

.font-semibold {
  font-family: "PoppinsSemiBold";
}

.font-light {
  font-family: "PoppinsLight";
}

.font-bold {
  font-family: "PoppinsBold";
}

.border-radius {
  border-radius: 8px;
}

/* content fonts */
.content-header-title {
  font-size: 24px;
  font-family: "PoppinsSemiBold";
}

.content-header-subtitle {
  font-size: 16px;
  font-family: "PoppinsLight";
}
/* content fonts */

/* card fonts */
.card-header-title {
  font-size: 22px;
  font-family: "PoppinsSemiBold";
}
/* card fonts */

/* table fonts */
.table-search-placeholder {
  font-size: 16px;
  font-family: "PoppinsLight";
}

.table-heading {
  font-size: 16px;
  font-family: "PoppinsSemiBold";
}

.table-data {
  font-size: 14px;
  font-family: "PoppinsLight";
}
/* table fonts */

/* form wrapper */

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.75rem;
  margin-bottom: 1.75rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.two-column {
  grid-template-columns: 1fr 1fr;
}

/* form wrapper */
