@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-lg: 900px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --title-font: 15px;
  --subtitle-font: 12px;
}

:root {
  --radius: 8px;
  --palette-background-primary: #ffffff;
  /* --palette-background-secondary: #fafbfb; */
  --palette-text-primary: #212121;
  --palette-text-secondary: #4d4d4d;
  --palette-text-tertiary: #1e1e1e;
  --palette-text-input: #b3b3b3;
  --palette-text-title: #212121;
  --palette-button: #4461f2;
  --palette-button-text: #ffffff;
  --palette-primary-link: #2c67f3;
  --palette-background-opacity: #000000;
  --palette-border: #d9d9d9;
  --palette-text-placeholder: #b3b3b3;
  --palette-input-background: #ffffff;
  --palette-shadow: #f7f7f7;
  --palette-error: #f87171;
}

.dark {
  --radius: 8px;
  --palette-background-primary: #171717;
  /* --palette-background-secondary: #23272c; */
  --palette-text-primary: #ffffff;
  --palette-text-secondary: #ffffff;
  --palette-text-tertiary: #ffffff;
  --palette-text-input: #b3b3b3;
  --palette-text-title: #ffffff;
  --palette-button: #4461f2;
  --palette-button-text: #ffffff;
  --palette-primary-link: #2c67f3;
  --palette-background-opacity: #000000;
  --palette-border: transparent;
  --palette-text-placeholder: #b3b3b3;
  --palette-input-background: #212121;
  --palette-shadow: #212121;
  --palette-error: #f87171;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

body {
  font-family: "PoppinsRegular";
  word-spacing: 2px;
}

.font-size-large {
  font-size: 38px;
}

.font-size-medium {
  font-size: 18px;
}

.font-size-small {
  font-size: 16px;
}

.font-size-extra-small {
  font-size: 16px;
}

.font-regular {
  font-family: "PoppinsRegular";
}

.font-semibold {
  font-family: "PoppinsSemiBold";
}

.font-light {
  font-family: "PoppinsLight";
}

.font-bold {
  font-family: "PoppinsBold";
}

.border-radius {
  border-radius: 8px;
}
